div a {
    text-decoration: none;
    margin-right: 10px;
}

div a:hover {
    background-color: aquamarine;
}

.active {
    text-decoration: dashed;
    color: rebeccapurple;
    background-color: rgb(217, 255, 127);
}